SHOPWARE_ENV=dev

DB_HOST=localhost
DB_DATABASE=shopware
DB_USERNAME=root
DB_PASSWORD=root
DB_PORT=3306

DATABASE_URL_NAME=DATABASE_URL
DATABASE_URL=mysql://${DB_USERNAME}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_DATABASE}

# Username and password for the initial admin account
# This info will be populated into the database during initial installation.
# After that, it can (and should) be removed from this .env file
ADMIN_EMAIL=admin@example.com
ADMIN_NAME="Demo User"
ADMIN_USERNAME=demo
ADMIN_PASSWORD=demo

# Shop URL for initial shop configuration
SHOP_URL=https://example.com

# Import demodata during initial shop installation
IMPORT_DEMODATA=true
